body {
    text-align: center;
}

.pic {
    background-color: black; 
    color: white;
    padding: 1rem;
}

.main {
    display: inline-block;
    margin: 1rem;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease; 
}

.main:hover {
    background-color: rgb(255, 0, 0);
}

#help {
    border: 0.5rem solid rgb(0, 79, 128);
}

#easy {
    border: 0.5rem solid green;
}

#medium {
    border: 0.5rem solid yellow;
}

#hard {
    border: 0.5rem solid red;
}

.main a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.main a:hover {
    color: rgb(191, 255, 0); 
}
