body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

a {
    display: flex;
    text-align: left;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #4CAF50;
    color: #ffffff;
}


.userflash {
    background-color: green;
    box-shadow: 0px 0px 20px 5px rgba(0, 255, 0, 1); 
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 8px solid black;
    margin: 1rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite, bounce 0.3s ease-in-out;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

/* Button Colors */
.yellow {
    background-color: #f99b45;
}
.red {
    background-color: #d95980;
}
.purple {
    background-color: #819ff9;
}
.green {
    background-color: #efe300;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}

Header Styling
h1 {
    color: #333;
}

h2 {
    color: #666;
}

h3 {
    color: #4CAF50;
    margin-top: 0;
}


.score {
    color: #333;
}


.game-over {
    color: red;
}


@media only screen and (max-width: 600px) {
    .btn {
        height: 120px;
        width: 120px;
        font-size: 12px;
    }
}
